* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #15bdac;
  font-family: Arial, Helvetica, sans-serif;
}

.area {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
}
.area .item {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.75rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.item.r {
  border-right: 6px solid #09a392;
}
.item.b {
  border-bottom: 6px solid #09a392;
}

.item.r,
.item.b {
  border-radius: 5px;
}

.info {
  width: 300px;
  display: flex;
  margin-top: 30px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px;
}
.infoitem {
  flex: 1;
}
.infotitulo {
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}
.infocorpo {
  text-align: center;
  color: #fff;
  font-size: 1.25rem;
}

.reset {
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  background-color: inherit;
  color: #fff;
  padding: 10px;
  margin-top: 20px;
  transition: all ease 0.3s;
}

.reset:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 5px #f5f5f5;
}

.x-color {
  color: #535454 !important;
}

.placar {
  width: 300px;
  display: flex;
  margin-top: 30px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px;
}

.placar-item {
  flex: 1;
  text-align: center;
  color: #ffff;
  font-size: 1.25rem;
}
